<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="uk.co.wehive.hive"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="uk.co.wehive.hive.C2D_MESSAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <permission
        android:name="uk.co.wehive.hive.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:name=".utils.ApplicationHive"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.StartActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenLayout|touchscreen|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.facebook.LoginActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenLayout|touchscreen|screenSize|smallestScreenSize"
            android:label="@string/title_facebook_login">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="twitter"
                    android:scheme="oauthtw"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.HomeActivity"
            android:configChanges="orientation|keyboard|screenLayout|touchscreen|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.activity.WebActivity"/>

        <activity
            android:name=".view.activity.ExploreActivity"
            android:configChanges="orientation|keyboard|screenLayout|touchscreen|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".view.activity.PhotoCarouselActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.activity.CarouselMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>

        <receiver
            android:name="uk.co.wehive.hive.utils.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="uk.co.wehive.hive"/>
            </intent-filter>
        </receiver>

        <service
            android:name="uk.co.wehive.hive.utils.GcmIntentService"/>

    </application>

</manifest>
